services:
  - type: web
    name: typesense
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    region: oregon
    disk:
      name: typesense-data
      mountPath: /typesense-data
      sizeGB: 1      
    envVars:
      - key: PORT
        value: "8108" 
    healthCheckPath: /health
